title {}

body {
  max-width: 1050px;
  margin: 0 auto;
  background-color: beige;
}

h3 {
  font-size: 48px;
  background-color: navy;
  text-align: center;
  color: white;
  width: 750px;
  margin: 0 auto;
  padding: 10px;
}

form {
  background: gold;
  font-size: 12px;
  text-align: center;
  color: white;
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 60px -16px teal;
}
input {
  font-size: 20px;
  padding: 25px;
  text-align: center;
  height: 100px;
  width: 175px;
  border-color: grey;
}
#Answer {
  margin: 10pt;
  padding: 25pt;
  font-size: 30pt;
  border-style: dashed;
  border-color: red;
  border-radius: 150px;
}