title {}

body {
  max-width: 1050px;
  margin: 0 auto;
  background-color: beige;
}

h3 {
  font-size: 48px;
  background-color: navy;
  text-align: center;
  color: white;
  width: 750px;
  margin: 0 auto;
  padding: 10px;
}

form {
  font-size: 12px;
  background-color: pink;
  text-align: center;
  color: white;
  width: 500px;
  margin: 0 auto;
  padding: 50px;
}
input {
  font-size: 20px;
  padding: 25px;
  text-align: center;
  height: 100px;
  width: 175px;
}
input.field3output {
  font-size: 16pt;
}